@charset "UTF-8";

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/libre-franklin-black.otf') format(opentype);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #5d17eb;
}

main{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

main h1{
    font-family: 'Libre Franklin';
    text-transform: uppercase;
    color: #ffe136;
    text-align: center;
}

.row{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
}

.row label{
    display: inline-block;
    width: 49%;
}

.row label p{
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    font-weight: 700;
    height: 100px;
    font-size: 0.8em;
    display: inline-block;
}

#btn_mais{
    background-color: #ffe136;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 15px;
}

.row img{
    width: 49%;
    display: inline-block;
}




